/* Стили для основного контейнера */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

/* Стили для заголовка */
.app-title {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Стили для списка товаров */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  gap: 20px;
}



/* Стили для карточки товара */
.product-card {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 80%;
}

.canvas-container {
  height: 350px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

/* Стили для изображения товара */
.product-image {
  width: 80%;
  border-radius: 5px;
}

/* Стили для названия товара */
.product-title {
  margin-top: 10px;
  margin-bottom: 5px;
}

/* Стили для описания товара */
.product-description {
  margin-bottom: 10px;
  overflow: hidden; /* Скрытие содержимого, которое не помещается */
  /* white-space: nowrap; */
  text-overflow: ellipsis;
}

/* Стили для цены товара */
.product-price {
  font-weight: bold;
}

@media screen and (max-width:900px) {
  .product-image {
    width: 70%;
  }
}
@media screen and (max-width:640px) {
  .product-image {
    width: 60%;
  }
}